body {
  background: blanchedalmond;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.a, .c {
  font-size: 7em;
  text-align: center;
  background: salmon;
  color: white;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: .2;
}

.b {
  font-size: 7em;
  text-align: center;
  background: salmon;
  color: white;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .a {
    width: 100%;
  }

  .b {
    flex-grow: 1;
  }

  .b, .c {
    height: 75%;
  }
}